extends ../layout
block content
    h1 Chat Rooms
    table.table.table-striped
        thead
            tr
                th Name
                th Edit
                th Delete
        tbody
            each room in rooms
                tr
                    td=room.name
                    td(style="width:50px")
                        a(href="/admin/rooms/update/"+room.id)
                            span.glyphicon.glyphicon-pencil
                    td(style="width:50px")
                        a(href="/admin/rooms/delete/"+room.id)
                            span.glyphicon.glyphicon-trash
    a.btn.btn-primary(href="/admin/rooms/add") create new chat room
    a.btn.btn-default(href="/") back