extends layout
block content
            .row
                #rooms.conversation-wrap.col-lg-3
                .message-wrap.col-lg-8
                    #messages.msg-wrap
                        .send-wrap
                    textarea#message.form-control.send-message(rows='3', placeholder='Write a reply...')
                    .btn-panel
                        a.col-lg-3.btn.send-message-btn(href='', role='button')
                            i.glyphicon.glyphicon-plus-sign
                            |  Add Files
                        a#add.col-lg-4.text-right.btn.send-message-btn.pull-right(href='', role='button')
                            i.glyphicon.glyphicon-send
                            |  Send Message

            script(src="/home.js", type="text/javascript")