extends ../layout
block content
    a.btn.btn-primary(href="/admin/users/add") create new user
    h1 Chat Users
    table.table.table-striped
        thead
            tr
                th Name
                th Roles
                th Email
                th City
                th Edit
                th Delete
        tbody
            each user in users
                tr
                    td=user.name
                    td=user.roles
                    td=user.email
                    td=user.city
                    td(style="width:50px")
                        a(href="/admin/users/update/"+user._id)
                            span.glyphicon.glyphicon-pencil
                    td(style="width:50px")
                        a(href="/admin/users/delete/"+user._id)
                            span.glyphicon.glyphicon-trash
    a.btn.btn-default(href="/") back

