extends ../layout
block content

    h1 Chat Users
    table.table.table-responsive
        thead
            tr
                th Name
                th Roles
                th Email
                th City
                th Edit
                th Delete
        tbody
            each user in users
                tr
                    td=user.name
                    td=user.roles
                    td=user.email
                    td=user.city
                    td(style="width:50px")
                        a(href="/admin/users/update/"+user._id, role="button")
                            i.glyphicon.glyphicon-pencil
                    td(style="width:50px")
                        a(href="/admin/users/delete/"+user._id, role="button")
                            i.glyphicon.glyphicon-trash
    .btn-panel
        a.col-lg-3.btn.send-message-btn(href='/admin/users/add', role='button')
            i.glyphicon.glyphicon-plus-sign
            |  Create New User
        a.col-lg-4.text-right.btn.send-message-btn.pull-right(href='/', role='button')
            i.glyphicon.glyphicon-backward
            |  Back


